<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">To Do List</h1><hr>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3" *ngIf = "!toggleForm">
        <div class="col-lg-6">
            <form class="input-group mb-3" #frm="ngForm" (ngSubmit)="addItem(frm)">
                <div class="input-group-prepend">
                  <button class="btn btn-success" type="submit" id="button-addon1">Add Item</button>
                </div>
                <input name="itemName" type="text" class="form-control" placeholder="Item" ngModel>
                <input name="itemQuantity" type="number" placeholder="Quantity" class="ml-4" ngModel>
            </form>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3" *ngIf = "toggleForm">
        <div class="col-lg-6">
            <form class="input-group mb-3" #editform="ngForm" (ngSubmit)="editItem(editform)">
                <div class="input-group-prepend">
                  <button class="btn btn-success" type="submit" id="button-addon1">Edit Item</button>
                </div>
                <input [ngModel] = "selectitem.name"  name="itemName" type="text" class="form-control" placeholder="Item" ngModel>
                <input [ngModel] = "selectitem.quantity" name="itemQuantity" type="number" placeholder="Quantity" class="ml-4" ngModel>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12" >
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf = "success">
                <strong> {{alert}} </strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <ng-template *ngIf = "!success">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                    <strong> {{alert}} </strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>


    <div class="d-flex mb-3 justify-content-end">
        <button class="btn btn-danger" (click) = "deleteselected()" > Delete Selected</button>
    </div>
    <table class="table">
        <thead>
            <th scope = "col">Select</th>
            <th scope = "col">Item</th>
            <th scope = "col">Quantity</th>
            <th scope = "col">Operation</th>
        </thead>

        <tbody >
        
            <tr *ngFor = "let item of itemList">
                
                <td> <input  type="checkbox"   (change)="addselecteditem($event,item._id)"> </td>
                <td> {{item.name}} </td>
                <td> {{item.quantity}} </td>
                <td>
                    <div class="">
                            <button type="submit" name="" class="btn btn-warning" (click)="showEditForm(item)" [disabled] = "toggleForm">Edit</button>
                            <button type="submit" class="btn btn-danger ml-2" (click) = "deleteItem(item._id)" >Delete</button>    
                    </div> 
                     </td>
            </tr>
        
        </tbody>
    </table>
    
</div>

